<!DOCTYPE html>
<html>
<head>
	<title>Python Kmeans Application</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="stylesheets/style.css" />
</head>
<body>
  
Select the columns for clustering 
    <form action="clusters" method="post">
    <select name='value1'>
        <option value="latitude">latitude</option>
        <option value="Field2">Field2</option>
    </select>
    
    <select name='value2'>
        <option value="latitude">longitude</option>
        <option value="longitude">Field2</option>
    </select>
        <br>
        Enter the number of clusters <input type="text" name=num>
        <!--<input type="submit" value=Clustering>-->
         <br>
    <h3> Prathamesh Palaskar 1001232248 Timing 1 pm</h3>

<input type= "submit" name="submit" value="Clustering"> 
     
         <br>




    </form>
    </body>
</html>