<!DOCTYPE html>
<html>
<head>
	<title>Python Kmeans Application</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="stylesheets/style.css" />
</head>
<body>
    <br>
    <h3> Prathamesh Palaskar 1001232248 Timing 1 pm</h3>
Uploads to EC2 instance <form action="upload" method="post" enctype="multipart/form-data">
<input type= "file" name="file_upload" value="Browse"> 


<input type="submit" name="submit" value ="upload"><br>

</form>
    </body>
</html>
